<!DOCTYPE html>
<html lang="pl">
  <head>
    {{ partial "head-section.html" . }}
    <title>{{ .Title }} &mdash; {{ .Site.Title }}</title>

    {{ if .Description -}}
    <meta name="description" content="{{ .Description }}" />
    {{- else -}}
    <meta name="description" content="Artykuł '{{ .Title }}' na Atopedii, encyklopedii atopowego zapalenia skóry." />
    {{- end }}
  </head>
  <body role="document">
    
    {{ partial "navbar.html" . }}

    <div class="container" role="main"
         itemscope itemtype="http://schema.org/Article">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <h1 class="entry-title" itemprop="name">{{ .Title }}</h1>
        </div><!-- col-md-8 -->
        <div class="col-md-4 col-sm-12">
          <p>
            <a href="{{ .Site.Params.githubsrc }}{{ .File.Path }}"
               title="Edytuj tę stronę na github.com">Edytuj tę stronę</a>
          </p>
        </div><!-- col-md-4 -->
      </div><!-- row -->
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <section itemprop="articleBody">
            {{ .Content }}
          </section>
        </div><!-- col-md-12 -->
      </div><!-- row -->
      <div class="row">
        <div class="col-md-12 col-sm-12">
          {{ partial "disqus-main.html" . }}
        </div><!-- col-md-12 -->
      </div><!-- row -->
		</div><!-- /.container -->
    {{ partial "page-end-includes.html" . }}
    {{ partial "disqus-footer.html" . }}
  </body>
</html>


