<!DOCTYPE html>
<html lang="pl">
  <head>
    {{ partial "head-section.html" . }}
    <title>{{ with .Title }}{{ . }} &mdash; {{ end }}{{ .Site.Title }}</title>

    {{ with .Description }}
    <meta name="description" content="{{ . }}" />
    {{- else -}}
    <meta name="description" content="Artykuł '{{ .Title }}' na Atopedii, encyklopedii atopowego zapalenia skóry." />
    {{- end }}
  </head>
  <body>
    
    {{ partial "navbar.html" . }}

    <div class="container" role="main"
         itemscope itemtype="http://schema.org/Article">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <p>
          </p>
          <h1 class="entry-title" itemprop="name headline">{{ .Title }}</h1>
          {{ if .Params.kategorie }}
          <small>
          <p>
            <a href="{{ .Site.Params.githubsrc }}{{ .File.Path }}"
               title="Edytuj tę stronę na github.com: {{ .File.Path }}">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              Źródło tej strony</a>
            |
            Kategorie:
            {{ range .Params.kategorie }}
            <a href="{{ "/kategorie/" | relURL }}{{ . | urlize }}">{{ . | lower }}</a>
            {{ end }}
          </p>
          </small>
          {{ end }}
        </div><!-- col-md-12 -->
      </div><!-- row -->
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <section itemprop="articleBody">
            {{ .Content }}
          </section>
          <footer class="small">
            {{ partial "article-footer.html" }}
          </footer>
        </div><!-- col-md-12 -->
        <div class="col-md-3 col-sm-12">
          {{ partial "prawy-panel.html" . }}
        </div><!-- col-md-3 -->
      </div><!-- row -->
      <div class="row">
      </div><!-- row -->
      <div class="row">
        <div class="col-md-12 col-sm-12">
          {{ partial "disqus-main.html" . }}
        </div><!-- col-md-12 -->
      </div><!-- row -->
		</div><!-- /.container -->
    {{ partial "page-end-includes.html" . }}
    {{ partial "disqus-footer.html" . }}
  </body>
</html>
