<!DOCTYPE html>
<html lang="pl">
  <head>
    {{ partial "head-section.html" . }}
    <title>{{ with .Title }}{{ . }} &mdash; {{ end }} {{ .Site.Title }}</title>

  </head>
  <body>

    {{ partial "navbar.html" . }}

    <main class="container" role="main">
      {{ range .Pages }}
      <div class="row">
        <div class="col-md-12">
          {{ .Render "summary" }}
        </div><!-- col-md-12 -->
      </div><!-- row -->
      {{ end }}
    </main><!-- /.container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    {{ partial "page-end-includes.html" . }}
  </body>
</html>
