<!DOCTYPE html>
<html lang="pl">
  <head>
    {{ partial "head-section.html" . }}
    <title>{{ with .Title }}{{ . }} &mdash; {{ end }}{{ .Site.Title }}</title>

  </head>
  <body>
    
    {{ partial "navbar.html" . }}

    <div class="container" role="main">
      <div class="row">
        <div class="col-md-12">
          {{ partial "entry.html" . }}

          {{ partial "disqus-main.html" . }}
        </div><!-- col-md-12 -->
      </div><!-- row -->
		</div><!-- /.container -->
    {{ partial "page-end-includes.html" . }}
    {{ partial "disqus-footer.html" . }}
  </body>
</html>
<!-- {{ partial "header.html" . }}

{{ partial "entry.html" . }}
{{ partial "footer.html" . }}
-->
<!-- continue here, make this a root document and not use header/footer -->

