<!DOCTYPE html>
<html lang="pl">
  <head>
    {{ partial "head-section.html" . }}
    <title>{{ with .Title }}{{ . }} &mdash; {{ end }}{{ .Site.Title }}</title>

    {{ with .Description }}
    <meta name="description" content="{{ . }}" />
    {{ end }}
  </head>
  <body>
    
    {{ partial "navbar.html" . }}

    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <main>
            <article itemscope itemtype="http://schema.org/BlogPosting">
              <h1 class="entry-title" itemprop="name headline">{{ .Title }}</h1>
              {{ with .Description }}
              <p class="text-muted">{{ . }}</p>
              {{ end }}
              <header>
                <small class="text-muted">
                  {{ with .Params.author }}
                  Autor:
                  <span itemprop="author">{{ . }}</span>;
                  {{ end }}
                  Artykuł opublikowany
                  <time itemprop="datePublished"
                      datetime="{{ .Date.Format "2006-01-02" }}">
                    {{ .Date.Day }} {{ index $.Site.Data.months (printf "%d" .Date.Month) }} {{ .Date.Year }}
                  </time>
                    {{ if ne .Date .Lastmod }}
                    (ostatnia modyfikacja <time itemprop="dateModified" datetime="{{ .Lastmod.Format "2006-01-02" }}">
                      {{ .Lastmod.Day }}
                      {{ index $.Site.Data.months (printf "%d" .Lastmod.Month) }}
                      {{ .Lastmod.Year }}</time>)
                    {{ end }}
                    przez
                    <span itemscope itemtype="http://schema.org/Organization"
                                    itemprop="publisher"><span
                                    itemprop="name">Atopowe.pl</span></span>.
                </small>
              </header>
              <link url="{{ .Permalink }}" />
              <div itemprop="articleBody">
                {{ partial "article-image.html" . }}
                {{ .Content }}
              </div>
            </article>
          </main>
        </div><!-- col-md-9 -->
        <div class="col-md-3 col-sm-12">
          <aside>
            {{ partial "prawy-panel.html" . }}
          </aside>
        </div><!-- col-md-3 -->
      </div><!-- row -->
      <div class="row">
        {{ with .PrevInSection }}
        <div class="col-md-3 col-xs-6">
          <div class="thumbnail">
            {{ partial "post-thumbnail.html" . }}
          </div><!-- thumbnail -->
        </div><!-- col-md-6 -->
        {{ end }}
        {{ with .NextInSection }}
        <div class="col-md-3 col-xs-6">
          <div class="thumbnail">
            {{ partial "post-thumbnail.html" . }}
          </div><!-- thumbnail -->
        </div><!-- col-md-6 -->
        {{ end }}
      </div><!-- row -->
		</div><!-- /.container -->
    {{ partial "page-end-includes.html" . }}
  </body>
</html>
