<div itemscope itemtype="http://schema.org/BlogPosting" class="card bg-light mb-3">
  <div class="card-body">
    <h5 class="card-title">{{ .Title }}{{ if .Draft }} #Draft{{ end }}</h5>
    <small class="mb-2 text-muted"><time datetime="{{ .Date.Format "2006-01-02" }}">
      <a itemprop="url" href="{{ .RelPermalink }}" title="{{ .Title }}">
        {{ .Date.Day }} {{ index $.Site.Data.months (printf "%d" .Date.Month) }} {{ .Date.Year }}
      </a>
    </time></small>
    <p class="card-text">
      {{ .Summary }}
    </p>
    <footer>
      <a class="card-link" href="{{ .RelPermalink }}" title="{{ .Title }}: Cały wpis">Czytaj dalej&nbsp;&raquo;</a>
    </footer>
  </div><!-- card-body -->
</div><!-- card -->
