<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navigation-menu-main"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-logo" href="/">
        {{ partial "logo-img.html" }}
      </a>
      <a class="navbar-brand" href="/">Atopowe.pl</a>

    </div><!-- navbar-header -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation-menu-main">
      <ul class="nav navbar-nav">
        <li><a href="/post">Blog</a></li>
        <li><a href="/atopedia" title="Encyklopedia Atopii">
               <i class="fa fa-book" aria-hidden="true"></i>
            Atopedia</a></li>
        <li><a href="/atopedia/polecani-lekarze/"
               title="Lista polecanych lekarzy">
               <i class="fa fa-user-md" aria-hidden="true"></i>
            Polecani lekarze</a></li>
        <li><a href="/ulotka" title="Ulotki leków">Ulotki leków</a></li>
        <li><a href="/kosmetyk" title="Kosmetyki">Kosmetyki</a></li>
        <li><a href="/przepis" title="Przepisy kulinarne">Przepisy</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="http://www.ptca.pl/?utm_source=atopowe&utm_medium=navbar" title="Polskie Towarzystwo Chorób Atopowych">
            PTCA
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Społeczność <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="https://www.facebook.com/groups/ZapalenieAtopoweSkory/" role="button">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                AZS grupa wsparcia dla rodziców
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/groups/AZSDOROSLI/" role="button">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                Grupa dla dorosłych z AZS
              </a>
            </li>
            <li><a href="https://pl.reddit.com/r/atopowezapalenieskory/"
                   title="Atopowe zapalenie skóry na Reddicie">
               <i class="fa fa-reddit" aria-hidden="true"></i>
               /r/atopowezapalenieskory
              </a>
            </li>
            <li><a href="/forum" title="Tylko do odczytu">Archiwum starego forum
                (do 2016)</a></li>
          </ul><!-- dropdown-menu -->
        </li><!-- dropdown -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
