<!-- vim:set sw=2 ts=2 sts=2 expandtab: -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
        {{ partial "logo-img.html" }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Atopowe.pl</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/atopedia" title="Encyklopedia Atopii">
             <i class="mdi mdi-book" aria-hidden="true"></i>
          Atopedia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/post">
          <i class="mdi mdi-post" aria-hidden="true"></i>
          Blog
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="sections-dd"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pozostałe działy
        </a>
        <div class="dropdown-menu" aria-labelledby="sections-dd">
          <a class="dropdown-item" href="/atopedia/polecani-lekarze/"
               title="Lista polecanych lekarzy">
            Polecani lekarze
            <i class="mdi mdi-doctor" aria-hidden="true"></i>
          </a>
          <a class="dropdown-item" href="/kosmetyk" title="Kosmetyki">Kosmetyki</a>
          <a class="dropdown-item" href="/przepis" title="Przepisy kulinarne">Przepisy</a>
        </div><!-- dropdown-menu -->
      </li><!-- dropdown -->
      <li class="nav-item">
        <a class="nav-link" href="http://www.ptca.pl/?utm_source=atopowe&utm_medium=navbar" title="Polskie Towarzystwo Chorób Atopowych">
          PTCA
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Społeczność
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://www.facebook.com/groups/ZapalenieAtopoweSkory/" role="button">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            AZS grupa wsparcia dla rodziców
          </a>
          <a class="dropdown-item" href="https://www.facebook.com/groups/AZSDOROSLI/" role="button">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            Grupa dla dorosłych z AZS
          </a>
          <a class="dropdown-item" href="https://pl.reddit.com/r/atopowezapalenieskory/"
                 title="Atopowe zapalenie skóry na Reddicie">
             <i class="fa fa-reddit" aria-hidden="true"></i>
             /r/atopowezapalenieskory
          </a>
        </div><!-- dropdown-menu -->
      </li><!-- dropdown -->
    </ul>
  </div>
</nav>
