<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head-section.html" . }}
    <title>{{ with .Title }}{{ . }} &mdash; {{ end }}
      Atopowe Zapalenie Skóry</title>
  </head>
  <body role="document">
    {{ partial "navbar.html" . }}
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-xs-12 text-center">
              <img class="img-circle" src="/images/atopowe-logo.png"
                   alt="Logo" width="140" height="140">
          </div><!-- col-md-2 -->
          <div class="col-md-10 col-xs-12 text-center">
            <h1>
              {{ .Site.Title }}
              <small>
                AZS, alergia, atopia i astma
              </small>
            </h1>
          </div><!-- col-md-10 -->
        </div><!-- row -->
        <div class="row">
          <div class="col-md-12 col-xs-12 text-center">
            <ul class="list list-inline">
              <li>
                <p>
                  <a class="btn btn-default btn-lg" href="http://pl.reddit.com/r/atopowezapalenieskory/" role="button">Zadaj pytanie &raquo;</a>
                </p>
              </li>
              <li>
                <p>
                <a class="btn btn-default btn-lg" href="/atopedia" role="button">Atopedia &raquo;</a>
                </p>
              </li>
              <li>
                <p>
                <a class="btn btn-default btn-lg" href="/forum" role="button">Archiwum starego forum &raquo;</a>
                </p>
              </li>
            </ul>
          </div><!-- col-md-12 -->
        </div><!-- row -->
      </div>
    </div>

    <div class="container" role="main">
      <div class="row">
        <div class="col-md-12">
          {{ range where .Data.Pages ".Params.permalink" "eq" nil }}
                 {{ .Render "summary" }}
          {{ end }}
        </div><!-- col-md-12 -->
      </div><!-- row -->
		</div><!-- /.container -->
    {{ partial "page-end-includes.html" . }}
  </body>
</html>
