<!DOCTYPE html>
<html lang="pl">
  <head>
    {{ partial "head-section.html" . }}
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}" />
    <meta property="og:image"              content="{{ .Site.Params.logo }}" />
  </head>
  <body>
    {{ partial "navbar.html" . }}
    <div class="jumbotron" id="jumbotron-home-page">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-sm-12 col-xs-12">
            <h1>
              {{ .Site.Title }}
            </h1>
            <p>{{ .Site.Params.description }}</p>
            <p><a class="btn btn-primary btn-social btn-lg"
                  href="/atopedia/Podstawowe_wiadomości/"
                  role="button">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              Podstawowe wiadomości o AZS &raquo;</a></p>
          </div><!-- col-md-10 -->
          <div class="col-md-2 hidden-xs hidden-sm">
            <img class="img-circle"
                 src="{{ .Site.Params.logo }}"
                 alt="Atopowe słoneczko, kółko z biało-czerwonym kształtem yin-yang, część czerwona lekko poszarpana, jak podrapana skóra."
                 width="140" height="140">
          </div><!-- col-md-2 -->
        </div><!-- row -->
      </div>
    </div>

    <div class="container" role="main">
      <div class="row">
        {{ range first 2 (where .Pages "Section" "post") -}}
        <div class="col-md-4">
          <h3>{{ .Title }}</h3>
          <small class="text-muted">
            <a href="{{ .Permalink }}">
              {{ .Date.Day }} {{ index $.Site.Data.months (printf "%d" .Date.Month) }} {{ .Date.Year }}
            </a>
            {{ with .Params.author }}
              &mdash; {{ . }}
            {{ end }}
          </small>
          <p>{{ .Summary }}</p>
          <p>
          {{ if .Truncated }}
          <a href="{{ .Permalink }}">przeczytaj cały wpis &raquo;</a>
          {{ end }}
          </p>
        </div>
        {{- end }}
        <div class="col-md-4">
          <h3>Ostatnie wpisy</h3>
          <ul class="list-unstyled">
          {{ range first 7 (where .Pages "Section" "post") -}}
          <li>
            <a href="{{ .Permalink }}" title="{{ .Description }}">{{ .Title }}</a>,
            <small class="text-muted">
              {{ dateFormat "2006-01-02" .Date }}
            </small>
          </li>
          {{ end }}
          </ul>
        </div>
      </div>
      <div class="row">
        {{ range where .Data.Pages "Section" "promowane" }}
        <div class="col-md-4">
          <h2>{{ .Title }}</h2>
          {{ .Content }}
          {{ if .Params.prowadzi_do -}}
          <p>
            <a class="btn btn-default btn-social btn-lg" href="{{ .Params.prowadzi_do }}" role="button">
              <i class="fa fa-{{ .Params.fa_icon }}" aria-hidden="true"></i>
              Zobacz więcej &raquo;</a>
          </p>
          {{- end }}
        </div><!-- col-md-4 -->
        {{ end }}
      </div><!-- row -->
      <div class="row">
        <div class="col-md-12">
          <hr />
          <footer>
            <p>Data ostatniej aktualizacji: {{ .Site.LastChange }}<p>
          </footer>
        </div><!-- col-md-12 -->
      </div><!-- row -->
		</div><!-- /.container -->
    {{ partial "page-end-includes.html" . }}
  </body>
</html>
