# To keep the old feed address.
RedirectMatch permanent /feed/?$ /index.xml
Redirect permanent /index.html/ /index.xml
RedirectMatch permanent ^/tag/(.*)/$ /tags/$1/
RedirectMatch temp /lekarze.* /atopedia/Dział_z_lekarzami
Redirect permanent /reddit https://pl.reddit.com/r/atopowezapalenieskory
Redirect permanent /atopedia/Strona_główna/ /atopedia
Redirect permanent /forum/ucp.php?mode=delete_cookies /forum
Redirect permanent /forum/ucp.php?mode=login /forum
Redirect permanent /atopedia/Atopedia/ /atopedia
