<!DOCTYPE html>
<html lang="pl">
  <head>
    {{ partial "head-section.html" . }}
    <title>{{ with .Title }}{{ . }} &mdash; {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="Encyklopedia Atopowego Zapalenia Skóry." />

    <meta property="og:url"         content="{{ .Permalink }}" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="{{ .Site.Title }}" />
    <meta property="og:description" content="Encyklopedia Atopowego Zapalenia Skóry, stworzona i utrzymywana przez użytkowników forum atopowe.pl." />
    <meta property="og:image"       content="/images/atopowe-logo.png" />

  </head>
  <body>
    {{ partial "navbar.html" . }}

    <div class="container" role="main">
      <div class="row">
        <div class="col-md-12">

<main>
  <h1>{{ .Title }}</h1>
  <p>Encyklopedia atopowego zapalenia skóry</p>
  <p>
  Proponujemy zacząć od artykułu
  <a href="/atopedia/Podstawowe_wiadomości/">podstawowe wiadomości</a>,
  a potem:
  </p>
  {{ partial "podstawowe.html" . }}
  <p>Poniżej listy wszystkich kategorii i wszystkich artykułów:</p>
  <h2 class="list-title">Kategorie stron</h2>
  <ul class="list-unstyled list-inline inline">
  {{ range $name, $taxonomy := .Site.Taxonomies.kategorie }}
  <li>
    <a href="{{ "/kategorie/" | relURL }}{{ $name | urlize }}/">{{ $name }}</a>
    <span class="text-muted">({{ $taxonomy.Count }})</span>
  </li>
  {{ end }}
  </ul>
  <h2 class="list-title">Wszystkie artykuły</h2>
  <p>
    Użyj CTRL+F żeby wyszukać interesujący cię artykuł.
  </p>
  <ul class="list-inline inline">
    {{ range .Data.Pages.ByTitle }}
      <li>
        <a href="{{ .RelPermalink }}">
          {{ .Title }}{{ if .Draft }} #Draft{{ end }}
        </a>
      </li>
    {{ end }}
  </ul>
</main>

          {{ partial "disqus-main.html" . }}
        </div><!-- col-md-12 -->
      </div><!-- row -->
    </div><!-- /.container -->
    {{ partial "page-end-includes.html" . }}
  </body>
</html>
