<!DOCTYPE html>
<html lang="pl">
  <head>
    {{ partial "head-section.html" . }}
    <title>{{ with .Title }}{{ . }} &mdash; {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="Encyklopedia Atopowego Zapalenia Skóry." />

    <meta property="og:url"         content="{{ .Permalink }}" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="{{ .Site.Title }}" />
    <meta property="og:description" content="Encyklopedia Atopowego Zapalenia Skóry, stworzona i utrzymywana przez użytkowników forum atopowe.pl." />
    <meta property="og:image"       content="/images/atopowe-logo.png" />

<style>
.mobile-elements-close {
  font-size: 120%;
}
</style>

  </head>
  <body>
    {{ partial "navbar.html" . }}

<main>
    <div class="container" role="main">
      <div class="row">
        <div class="col-md-12">

  <h1>{{ .Title }}
    <small>
      Encyklopedia atopowego zapalenia skóry
    </small>
  </h1>
  <p>
  Proponujemy zacząć od artykułu
  <a href="/atopedia/Podstawowe_wiadomości/">podstawowe wiadomości</a>,
  a potem:
  </p>
  {{ partial "podstawowe.html" . }}
  <p>Poniżej listy wszystkich kategorii i wszystkich artykułów:</p>
  <h2 class="list-title">Kategorie stron</h2>
        </div><!-- col-md-12 -->
      </div><!-- row -->
      <div class="row mobile-elements-close">
  {{ range $name, $taxonomy := .Site.Taxonomies.kategorie }}
          <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="{{ "/kategorie/" | relURL }}{{ $name | urlize }}/">{{ $name }}</a>
            <span class="text-muted">({{ $taxonomy.Count }})</span>
          </div>
  {{ end }}
      </div><!-- row -->
      <div class="row">
        <div class="col-md-12">
  <h2 class="list-title">Wszystkie artykuły</h2>
  <p>
    Użyj CTRL+F żeby wyszukać interesujący cię artykuł.
  </p>
        </div><!-- col-md-12 -->
      </div><!-- row -->
      <div class="row mobile-elements-close">
        <!-- <ul class="list-inline inline"> -->
        {{ range .Data.Pages.ByTitle }}
          <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="{{ .RelPermalink }}">
              {{ .Title }}{{ if .Draft }} #Draft{{ end }}
            </a>
          </div>
        {{ end }}
      </div><!-- row -->
    <!-- </ul> -->
      <div class="row">
        <div class="col-md-12">

        </div><!-- col-md-12 -->
      </div><!-- row -->
    </div><!-- /.container -->
    </main>
    {{ partial "page-end-includes.html" . }}
  </body>
</html>
