<!DOCTYPE html>
<html lang="pl">
  <head>
    {{ partial "head-section.html" . }}
    {{ $title := "Przepisy kulinarne" }}
    {{ $description := "Przepisy kulinarne wpisane przez użytkowników" }}
    <title>{{ with $title }}{{ . }} &mdash; {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ $description }}" />

    <meta property="og:url"         content="{{ .Permalink }}" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="{{ $title }}" />
    <meta property="og:description" content="{{ $description }}" />
    <meta property="og:image"       content="/images/atopowe-logo.png" />

  </head>
  <body>
    {{ partial "navbar.html" . }}

    <div class="container">
      <div class="row">
        <div class="col-md-12">

<main role="main">
  <h1>{{ $title }}</h1>
  <p>{{ $description }}</p>
  <h2 class="list-title">Rodzaje przepisów</h2>
  <ul class="list-unstyled list-inline inline">
  {{ range $name, $taxonomy := .Site.Taxonomies.rodzajeprzepisow }}
  <li>
    <a href="{{ "/rodzajeprzepisow/" | relURL }}{{ $name | urlize }}/">{{ $name }}</a>
    <span class="text-muted">({{ $taxonomy.Count }})</span>
  </li>
  {{ end }}
  </ul>
  <h2 class="list-title">Lista wszystkich przepisów</h2>
  <ul class="list-unstyled">
    {{ range .Data.Pages }}
      <li class="entry-title" itemprop="headline">
        <article itemscope itemtype="http://schema.org/BlogPosting">
        <a href="{{ .RelPermalink }}">
          <span itemprop="name">{{ .Title }}{{ if .Draft }} #Draft{{ end }}</span>
        </a>
        </article>
      </li>
    {{ end }}
  </ul>
</main>

          {{ partial "disqus-main.html" . }}
        </div><!-- col-md-12 -->
      </div><!-- row -->
    </div><!-- /.container -->
    {{ partial "page-end-includes.html" . }}
  </body>
</html>
